body {
    font-family: "Trebuchet MS", "Helvetica", sans-serif;
}

:root {
    --footer-text: rgb(84, 84, 84);
}

.textarea {
    display: block;
    width: 700px;
    height: 200px;
    margin: 10px auto 10px;
    padding: 10px;
    font-size: 18px;
    color: #444444;
}

.footer {
    width: 100%;
    color: var(--footer-text);
    text-align: center;
    margin-bottom: 25px;
    text-transform: uppercase;
    justify-content: center;
    letter-spacing: 1px;
    font-size: 1.07rem;
    font-weight: 300;
}

.keyboard {
    display: flex;
    flex-direction: column;
}

.keyboard__row {
    display: flex;
    column-gap: 9px;
}

.keyboard__key{
    justify-content: center;
    align-items: center;
}